html {
    scroll-behavior: smooth;
  }

*{
  margin: 0;
 
  padding: 0;
}

body{
    background-image: url('img/bg-head.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header{
    height: 100 vh;
    width: 100%;
    
}
/* navbar part */

nav{
    height: 6vh;
    width: 100%;
    position: fixed;
    background-color:black ;
    z-index: 5;
    
}


nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin:2px 5px;
}

nav ul span{
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
    color: blanchedalmond;
}


nav ul span:hover{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 22px;
  border-radius: 10px 0px;
  color: purple;
  transition: all 0.5s ease-in-out;
}
a{
    text-decoration: none;
    transition: color 0.1 ease-in;
}

/* intro part */

.intro{
    position: absolute;
    
    left: 30px;
    padding: 30vh;
    
    font-size: 60PX;
    color:seashell;
    background-color: transparent;
    
}

.intro b{
    color: purple;
}

.myWork{
    color: white;
    padding: 8px 20px;
    position: relative;
    background-color: black;
    font-size: 15px;
}

.myWork:hover{
    background-color: purple;
    height: 40px;
    width:160px;
}

/* About section */
.aboutSection {
  position: relative;
  top:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: aliceblue; */
  /* background-image: url("img/c-bg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 52px 0 52px 0;
  height: 90vh;
    
    /* width: 106%; */
  }
  
  
  .about {
    width: 100%;
    height: 20vh;
    background: transparent;
    font-size: 60px;
    padding: 30px 0;
    color: purple;
  }
  .about-data {
    width: 60%;
    color: white;
    margin: 20px 0;
    padding: 10px;
    font-size: 30px;
  } */
/* my project section */
 .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
    color: aliceblue;
    background-color: white;
    margin-bottom: 50px;
  }

   
  .my-projects {
    width: 80%;
    height: 60px;
    background: transparent;
    font-size: 60px;
    padding: 30px 0;
    color: purple;
    text-align: center;
    padding: 80px 0 0 20px;
  }
  
  .allProjects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 60vh;
    color: white;
    padding-top: 60px;
    padding-left: 100px;
}
  
  .projectName {
    display: flex;
    flex-direction: column;
  }
  .projectName div {
    padding: 10px;
    margin: 1px;
    width: 100%;
    border: 1px solid white;
    cursor: pointer;
  }
  .projectName div:hover {
    background-color: purple;
  }
  .aboutProject {
    align-items: center;
    width: 60%;
    height: 188px;
    display: flex;
  }
  .aboutProject2{
  display:none;
  }
.skillsSection {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.skills {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 60px 0 30px 0;
  color: purple;
}
.skills-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-data div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.skills-data div div {
  padding: 11px 15px;
  background-color: purple;
  margin: 5px;
}
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background-image: url("img/bg-head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contact {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: purple;
  margin: 50px;
}
.pp img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.contact-sources {
  font-size: 25px;
}

footer {
    background-color: purple;
    font-size: 20px;
    color: white;
    
    align-items: center;
    text-align: center;
    height: 5vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
  }


  @media screen and (max-width: 600px) {
    .about{
    font-size:40px;
    }
    .intro {
      font-size: 30px;
    }
  
    .about-data {
      font-size: 20px;
    }
    nav ul span {
      font-size: 15px;
    }
  
    .allProjects {
      flex-direction: column;
      font-size: 18px
    }
    .projectName {
      flex-direction: row;
      text-align: center;
    }
    .contact-sources {
      font-size: 15px;
    }
    .aboutProject2{
    display:block;
    }
    .aboutProject1{
    display:none;
    }
  } 
  